.loading {
  font-size: 30px;
  font-weight: 700;
  color: black;
}
.buttonBackWrap {
  position: absolute;
  top: 15px;
  left: 40px;
  color: black;
  font-size: 16px;
  font-weight: 600;
  transition: color 200ms, font-size 200ms;
  cursor: pointer;

  &:hover {
    transition: font-size 200ms ease-in-out;
    font-size: 20px;
  }
}
